@import "Nullstyle.scss";
@import "Header.scss";
@import "Page.scss";
@import "Footer.scss";


#root {
	background-color: #0E1014;
}

.wrapper {
	width: auto;
	height: auto;

}

/*--- ограничивающий контейнер-------------------------------------------------- */

._container {
	max-width: 1140px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}

@media (max-width: 1200px) {
	._container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	._container {
		max-width: 750px;
	}
}

@media (max-width: 750px) {
	._container {
		max-width: 540px;

	}
}

@media (max-width: 540px) {
	._container {
		max-width: 320px;
		padding: 0% 4% 0% 4%;
	}
}