.footer {
	display: block;
	padding-bottom: 1.38%;
	height: auto;

	&__company {
		margin-right: 8.9%;
	}

	&__menu1 {
		margin-right: 4.29%;
	}

	&__menu2 {
		margin-right: 13.45%;
		padding-top: 3%;
	}

	&__mobile {
		display: none;
	}

	&__contacts {
		text-align: right;
		justify-content: flex-end;
	}

	&__title {
		font-family: 'Inter';
		font-style: normal;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: #656566;
	}

	&__link {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #E4E5EA;
	}

	&__running-title {
		margin-top: 2.29%;
		margin-bottom: 2.1%;
	}
}

.info-block {
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 3.8%;
		z-index: 2;
	}
}

.compony {
	&__list {
		text-align: left;
		height: 85px;
	}

	&__item-title {
		margin-bottom: 6.3%;
	}

	&__item {
		margin-bottom: 3.17%;
	}

}

.mobile {
	&__list {
		display: none;
	}

	&__item-title {
		display: none;
	}

	&__item {
		display: none;
	}

	&__link {
		display: none;
	}
}

.menu1 {
	&__item-title {
		margin-bottom: 6.3%;
	}

	&__item {
		margin-bottom: 3.17%;
	}

}

.menu2 {
	&__item {
		margin-bottom: 3.17%;
	}
}

.contacts {
	&__item-title {
		margin-bottom: 6.3%;
	}

	&__item {
		margin-bottom: 6.98%;
	}

	&__logo-viber {
		margin-right: 14px;
		margin-left: 14px;
	}
}

.running-title {
	p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		text-align: right;
		color: #E4E5EA;
		margin-bottom: 0.17%;
	}

	a {
		display: block;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		text-align: right;
		color: #E4E5EA;
		text-decoration: underline;
	}
}

//-----------------page-media1200-------------------------/

@media (max-width: 1200px) {
	.footer {
		&__company {
			margin-right: 0%;
		}

		&__menu1 {
			margin-right: 0%;
		}

		&__menu2 {
			margin-right: 0%;
			padding-top: 3%;
		}
	}
}

//-----------------page-media992------------flex-direction: column-------------/

@media (max-width: 992px) {
	.footer {
		&__contacts {
			text-align: left;
		}
	}

	.info-block {
		&__list {
			flex-wrap: nowrap;
		}
	}
}

//-----------------page-media750-------------------------/

@media (max-width: 750px) {
	.info-block {
		&__list {
			flex-direction: column;
		}
	}
}

@media (max-width: 750px) {
	.running-title {
		p {
			text-align: left;
		}

		a {
			text-align: left;
		}
	}
}

//-----------------foooter-maedia320px--------------------------------------------*/

@media (max-width: 320px) {
	.footer {
		position: absolute;
		background: #0E1014;
		min-height: 559px;

		&__list {
			height: 32.1;
			display: block;
			background: #0E1014;
		}

		&__menu1 {
			display: none;
		}

		&__menu2 {
			display: none;
		}

		&__mobile {
			display: flex;
		}

		&__company {
			margin: 0px;
			padding-bottom: 30px;
		}

		&__mobile-menu1 {
			padding-right: 36px;
		}

		&__mobile-menu2 {
			padding-top: 37px;
		}

		&__contacts {
			display: inline-block;
			text-align: left;
		}

		&__title {
			padding-top: 6%;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 15px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #656566;
		}

		&__link {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: #E4E5EA;
		}
	}
}

@media (max-width: 320px) {
	.mobile-menu1 {
		&__item-title {
			padding-top: 30px;
		}
	}
}

@media (max-width: 320px) {
	.contacts {
		&__item {
			margin-bottom: 11px;
		}

		&__logo-viber {
			margin-right: 5px;
			margin-left: 5px;
		}
	}
}

@media (max-width: 320px) {
	.running-title {
		p {
			margin-top: 50px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			text-align: left;
		}

		a {
			margin-bottom: 60px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			text-align: left;
		}
	}
}