.header {
	position: absolute;
	margin-top: 3.19%;
	width: 100%;
	z-index: 50;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 73px;
		align-items: center;
	}

	&__logo {
		align-items: center;
	}

	&__contacts {
		margin: 0px 0px 0px 137px;
	}
}

.logo {
	&__info {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
		color: #E4E5EA;
	}
}

.menu {
	&__list {
		flex-wrap: wrap;
		display: flex;
	}

	&__item {
		margin-left: 30px;
	}

	&__link {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #E4E5EA;
	}

}

.contacts {
	&__phone {
		font-family: 'Inter';
		font-style: normal;
		margin: 0px 48.67px 0px 0px;
		color: #E4E5EA;
	}

	&__logo-viber {
		margin: 0px 34px 0px 0px;
	}
}

/* ---------media-header1200px------------------------------------------------------------------------ */

@media (max-width: 1200px) {
	.header {
		&__container {
			flex-wrap: nowrap;
		}

		&__contacts {
			margin: 0px;
		}
	}
}

@media (max-width: 1200px) {
	.menu {
		&__item {
			margin-left: 10px;
		}
	}
}

/* ---------media-header992px------------------------------------------------------------------------ */

@media (max-width: 992px) {
	.header {
		&__logo {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	.logo {
		display: none;
	}
}

@media (max-width: 992px) {
	.menu {
		&__item {
			margin-left: 10px;
		}
	}
}

/* ---------media-header750px------------------------------------------------------------------------*/

@media (max-width: 750px) {
	.header {
		&__container {
			justify-content: flex-start
		}

		&__contacts {
			display: none;
		}
	}
}

@media (max-width: 750px) {
	.menu {
		&__link {
			font-size: 13px;
		}
	}
}

/*-------------media-header540px--------------------------------*/

@media (max-width: 540px) {
	.menu {
		&__list {
			display: flex;
		}

		&__item {
			margin-left: 16px;
		}

		&__item:last-child {
			display: none;
		}

		&__link {
			font-size: 13px;
		}
	}
}

/*-------------media-header320px--------------------------------*/

@media (max-width: 320px) {
	.header {
		margin: 0%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background: #0E1014;

		&__container {
			display: flex;
			min-height: 55px;
			align-items: center;
		}

		&__logo {
			display: none;
		}

		&__contacts {
			display: none;
		}

	}
}

@media (max-width: 320px) {
	.logo {
		display: none;
	}
}

@media (max-width: 320px) {
	.menu {
		&__list {
			display: flex;
		}

		&__item {
			margin-left: 16px;
		}

		&__item:last-child {
			display: none;
		}

		&__link {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			color: #E4E5EA;
		}
	}
}

@media (max-width: 320px) {
	.contacts {
		display: none;
	}
}