.page {
	&__column-left {
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__column-mobile {
		display: none;
	}
}

.main-block {
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 209px;
		padding-bottom: 124px;
		position: relative;
		z-index: 2;
	}
}

.page {
	&__big-ball_red {
		position: absolute;
		width: 83px;
		height: 83px;
		left: 32%;
		top: 86px;
		border-radius: 50%;
		background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
		box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
		backdrop-filter: blur(2px);
	}

	&__medium-ball_purple {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 60.2%;
		top: -2px;

		border-radius: 50%;
		background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
		box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
		filter: blur(5px);
		backdrop-filter: blur(2px);
	}

	&__little-ball_red {
		position: absolute;
		width: 28px;
		height: 28px;
		left: 59%;
		top: 55.81%;
		border-radius: 50%;
		background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
		box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
		filter: blur(2.5px);
		backdrop-filter: blur(2px);
	}

	&__light-ball_red {
		position: absolute;
		width: 311px;
		height: 311px;
		left: -102px;
		top: 25.6%;
		background: #961A1A;
		opacity: 0.5;
		filter: blur(196px);
	}

	&__light-ball_purple {
		position: absolute;
		width: 259px;
		height: 259px;
		left: 41.8%;
		top: -154px;

		background: #833AB4;
		opacity: 0.5;
		filter: blur(196px);
	}
}

.left-column {
	&__app {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 58px;
		color: #E4E5EA;
	}

	&__down {
		font-family: 'Inter';
		font-style: normal;
		font-size: 48px;
		background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
	}

	&__texts {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #E4E5EA;
	}
}

.right-column {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	&__button {
		flex-wrap: wrap;
		margin-left: 21%;
		padding: 21px 34px 21px 35px;
		height: 61px;
		background: #4077F3;
		text-align: center;
		justify-content: flex-end;
	}
}

.header-offer {
	&__title {
		font-family: 'Inter';
		font-style: normal;
		text-align: right;
		margin: 0px 0px 40px 0px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #E4E5EA;

		span {
			text-transform: uppercase;
			background: linear-gradient(92deg, #d18821 27.14%, #e2d13a 121.36%), #E4E5EA;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
		}
	}
}

.list {
	&__offer {
		text-align: right;
		margin: 0px 0px 30px 31px;
	}

	&__title {
		font-family: 'Inter';
		font-style: normal;
		font-size: 18px;
		line-height: 22px;
		color: #E4E5EA;
	}

	&__link {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #E4E5EA;
	}
}

.mobile-page {
	&__header-mobile {
		display: none;
	}

	&__line {
		display: none;
	}

	&__title {
		display: none;
	}
}

.header-mobile {
	&__title {
		display: none;
	}

	span {
		display: none;
	}
}

.button {
	&__link {
		color: #E4E5EA;
	}
}




//-----------------page-media750px-------------------------/

@media (max-width: 750px) {
	.main-block {
		&__body {
			padding-top: 130px;
		}
	}
}

@media (max-width: 750px) {
	.left-column {
		&__app {
			font-size: 38px;
		}

		&__down {
			font-size: 38px;
		}

		&__texts {
			font-size: 15px;
		}
	}
}

@media (max-width: 750px) {
	.right-column {
		&__button {
			margin: 0px;
		}
	}
}

@media (max-width: 750px) {
	.header-offer {
		&__title {
			padding-top: 15px;
			text-align: left;
		}

		span {
			text-align: left;
		}
	}
}



@media (max-width: 750px) {
	.list {
		&__offer {
			text-align: left;
			margin: 0px 0px 10px 11px;
		}
	}
}



//-----------------page-media320px--------------------------------------------------------------------------------------*/

@media (max-width: 320px) {
	.page {
		&__column-right {
			display: none;
		}

		&__column-mobile {
			display: flex;
			padding-top: 8.6%;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}

@media (max-width: 320px) {
	.main-block {
		&__body {
			padding-top: 95px;
			padding-bottom: 40px;
		}
	}
}

@media (max-width: 320px) {
	.left-column {
		&__app {
			text-align: left;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 44px;
		}

		&__down {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 900;
			font-size: 36px;
			line-height: 44px;
		}

		&__texts {
			padding-top: 4.68%;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
		}
	}
}

@media (max-width: 320px) {
	.mobile-page {

		&__header-mobile {
			display: inline-block;
		}

		&__line {
			display: inline-block;
			margin-bottom: 5px;
			margin-right: 5px;
			width: 10px;
			height: 1px;
			color: rgb(252, 176, 69);
			background: linear-gradient(0deg, rgba(252, 176, 69, 1) 0%, rgba(253, 29, 29, 1) 49%);
		}

		&__title {
			display: inline-block;
			margin-bottom: 14px;
			margin-right: 10px;

			text-transform: uppercase;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 0.05em;
			color: #E4E5EA;
		}
	}
}

@media (max-width: 320px) {
	.header-mobile {
		padding-top: 45px;
		padding-bottom: 20px;

		&__title {
			display: inline;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: #E4E5EA;
		}

		span {
			display: inline;
			text-transform: lowercase;
			background: rgb(252, 176, 69);
			background: linear-gradient(92deg, #d18821 27.14%, #e2d13a 121.36%), #E4E5EA;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
		}
	}
}

@media (max-width: 320px) {
	.page {
		&__big-ball_red {
			position: absolute;
			width: 211px;
			height: 210px;
			left: -32%;
			top: -32px;
			border-radius: 50%;
			background: #a17070;
			opacity: 0.5;
			filter: blur(96px);

		}

		&__medium-ball_purple {
			position: absolute;
			width: 40px;
			height: 40px;
			left: 296px;
			top: 286px;
			border-radius: 50%;
			background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
			box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
			filter: blur(5px);
			backdrop-filter: blur(2px);
		}

		&__little-ball_red {
			position: absolute;
			width: 43px;
			height: 43px;
			left: 29px;
			top: 452px;
			border-radius: 50%;
			opacity: 0.9;
			background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
			box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
			filter: blur(2.5px);
			backdrop-filter: blur(2px);
		}

		&__light-ball_red {
			position: absolute;
			width: 211px;
			height: 210px;
			left: -55px;
			top: 481px;
			background: #961A1A;
			opacity: 0.5;
			filter: blur(96px);
		}

		&__light-ball_purple {
			position: absolute;
			width: 259px;
			height: 259px;
			left: 258px;
			top: 107px;

			background: #833AB4;
			opacity: 0.5;
			filter: blur(196px);
		}

	}
}